<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
<div class="container" style="text-align: center">
    <h1>The services that we provide.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum distinctio illum labore libero optio quaerat
        quasi tenetur vero voluptatum! Accusantium ad corporis deserunt dolor doloremque ea eaque esse facere fugit hic id
        illo iusto magni molestias mollitia neque numquam placeat, quas qui quod, repellendus, reprehenderit sequi totam
        unde veniam.
    </p>
    <button>Contact Us</button>
</div>
</body>
</html>